<meta charset="utf-8" />
<style>
    b {
        color: red;
    }
</style>
<input id="input" />
<button onclick="enter()">搜索</button>
<ul id="li"></ul>
<script is:inline>
    input.oninput = () => {
        let script = document.createElement("script")
        script.src = `https://s.search.bilibili.com/main/suggest?jsoncallback=mycallback&term=${input.value}`
        document.body.appendChild(script)
        script.onload = () => document.body.removeChild(script)
    }

    function mycallback(data) {
        li.innerHTML = Object.values(data).reduce(
            (html, v) =>
                html +
                `
      <li><a href = https://search.bilibili.com/all?keyword=${v.value}>${v.name}<a/></li>
    `,
            ""
        )
    }

    function enter() {
        location.href = `https://search.bilibili.com/all?keyword=${input.value}`
    }

    input.onkeypress = e => e.key == "Enter" && enter()
</script>
