---
import Layout from "src/layout.astro"
---

<Layout title="QRcode">
    <script
        is:inline
        src="https://cdn.bootcss.com/jsbarcode/3.11.0/barcodes/JsBarcode.code128.min.js"
    ></script>
    <script
        is:inline
        src="https://cdn.bootcss.com/qrcode-generator/1.4.4/qrcode.min.js"
    ></script>
    <style>
        body {
            margin: 0;
        }
        img,
        canvas {
            image-rendering: pixelated;
        }
        #sT {
            font-size: 90px;
            text-align: center;
        }
        #qr {
            width: 60vw;
            margin: 20px 20vw;
        }
        #sT,
        #br {
            width: 60vw;
            padding: 20px 20vw;
        }
    </style>
    <canvas id="qr"></canvas>
    <img id="br" />
    <div id="sT"></div>
    <script is:inline>
        // 未封装渲染行为的二维码库https://github.com/kazuhikoarase/qrcode-generator/tree/master/js
        const typeNumber = 4,
            errorCorrectionLevel = "L"
        const qrdata = qrcode(typeNumber, errorCorrectionLevel)
        /**
     *  若使用更简单的二维码库https://github.com/davidshimjs/qrcodejs
        const width = qr.clientWidth
        const qrcode = new QRCode(qr, {
            width : parseFloat(width),
            height : parseFloat(width)
        })
        //window.onhashchange中sText && qrcode.makeCode(sText)
     */
        window.onhashchange = () => {
            const sText =
                window.location.hash &&
                decodeURIComponent(window.location.hash).replace("#", "")
            if (sText) {
                qrdata.addData(sText)
                qrdata.make()
                const qrimg = new Image()
                qrimg.src = qrdata.createDataURL()
                qrimg.style.display = "none"
                document.body.appendChild(qrimg)
                qrimg.onload = () => {
                    const { width, height } = qrimg
                    Object.assign(qr, { width, height })
                    const c = qr.getContext("2d")
                    c.fillStyle = c.createPattern(qrimg, "repeat")
                    c.rect(0, 0, width, height)
                    c.fill()
                    /**
                 * 
                    const px = c.getImageData(0, 0, width, height)
                    // 像素操作
                    c.putImageData(px, 0, 0)
                 */
                }
            } // 条形码库https://github.com/lindell/JsBarcode
            sText &&
                JsBarcode("#br", sText, {
                    lineColor: "#0aa",
                    displayValue: false,
                })
            sT.innerHTML = sText || "input #hash"
        }
        window.onhashchange()
    </script>
</Layout>
